

.app{
  
  position: relative;
}
.header{
  
  background-image:linear-gradient(rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1484300681262-5cca666b0954?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1327&q=80");
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: brown;

  border-bottom: 5px solid brown;
}
.nav {
  float: right;
  display: flex;
  list-style: none;
  margin-top: 0px;
  margin-left: 100px;
  padding-right: 40px;
  padding-bottom: 10px;
}

.nav li {
  display: inline-block;
  margin: 20px;
  
}
.nav-item{
  color: brown;
}
.nav li a:link, 
.nav li a:visited {
   padding: 8px,0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.nav li a:hover, 
.nav li a:active {
    border-bottom: 2px solid #e67e22;
}
.search{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
  

}
.search input{
  width: 30%;
  padding: 12px 41px;
  
   font-size: 45px;
  line-height: 25px;
  border: 2px solid brown;  
  
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
  
}


.wrapper{
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: left;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
    
}
.new-recipe-form{
  max-width: 700px;
  padding: 30px 40px;
  margin: 40px;
  background-color: cornsilk;
  border-radius: 10px;
  display: flex;
  height: 90%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* 

footer{
  background-color: #333;
  padding: 30Px;
  font-size: 80%;
}

.footer-nav{
  list-style: none;
  float: left;
}
.social-links{
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li last-child,
.social-links li last-child{
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
  text-decoration: none;
  border:0;
  color: #888;
  transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
  font-size: 150%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-finstagram{
  transition: color 0.2s;
}

.ion-social-facebook:hover{
  color: #3b5998;
}
.ion-social-twitter:hover{
  color: #00aced;
}
.ion-social-googleplus:hover{
  color: #dd4b39;
}
.ion-social-instagram:hover{
  color: #517fa4;
}
footer p{
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
} */